img
{
width: 50%;
height: 50%;
border-bottom: 10px;

}
.contenedor
{
    margin: 0 auto;
    margin-left: 20px;
}
@media(min-width:480px) 
{
.contenedor
{
    display: grid;
    grid-template-columns: 1fr;
}
}
@media(min-width:481px) 
{
.contenedor
{  display: grid;
    grid-template-columns: repeat(2,1fr);
}
}
@media(min-width:768px)
{
    .contenedor{
      display: grid;
      grid-template-columns: repeat(4,1fr);  
    }
}